@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
* {
  font-family: "Poppins" sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: none;
  text-transform: capitalize;
  transition: 0.2s linear; }

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem; }

body {
  background: #1f1f8c; }

.header {
  padding: 2rem;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10000;
  background: transparent; }
  .header.active {
    background: rgba(0, 0, 0, 0.8); }
  .header .header__logo {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: #36e4aa;
    margin-right: auto;
    cursor: pointer; }
    .header .header__logo:hover {
      color: #6666b0;
      transition: 0.5s; }
  .header .nav #nav-close {
    font-size: 4rem;
    color: #000;
    display: none;
    cursor: pointer; }
  .header .nav a {
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    margin-right: 1.5rem;
    background: #22c58f;
    padding: .7rem 1rem;
    border-radius: 10px; }
    .header .nav a:hover {
      background: #2be3a6;
      transition: 0.5s; }
  .header .icons a,
  .header .icons div {
    font-size: 2.5rem;
    margin-right: 1.2rem; }
  .header #menu-btn {
    display: none; }
  .header.active {
    background: #fff; }

main .home {
  padding: 0; }
  main .home .box {
    min-height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-size: cover !important;
    background-position: center !important;
    flex-direction: flex-end;
    padding: 2rem 9%; }
    main .home .box .content {
      width: 50rem; }
      main .home .box .content .text__1 {
        line-height: 2;
        font-size: 1rem;
        color: #fff;
        padding-bottom: 1.5rem;
        background: rgba(0, 0, 0, 0.5);
        padding: 2rem 5rem;
        margin-top: 8rem;
        border-radius: .5rem; }
      main .home .box .content .text__2 {
        line-height: 2;
        font-size: 1rem;
        color: #fff;
        padding-bottom: 1.5rem;
        background: rgba(0, 0, 0, 0.5);
        padding: 2rem 5rem;
        margin-top: 8rem;
        border-radius: .5rem;
        justify-content: start; }
      main .home .box .content .text__3 {
        line-height: 2;
        font-size: 1rem;
        color: #fff;
        padding-bottom: 1.5rem;
        background: rgba(0, 0, 0, 0.5);
        padding: 2rem 5rem;
        margin-top: 8rem;
        border-radius: .5rem;
        justify-content: start; }

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 3rem;
  color: #000; }

@media (max-width: 707px) {
  .header .header__logo {
    font-size: 2rem;
    font-weight: bold; }
  .header .nav {
    width: 20rem;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    left: -110%;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7); }
    .header .nav.active {
      box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px 100vw;
      left: 0px; }
    .header .nav a {
      font-size: 15px;
      margin-bottom: 1rem; }
    .header .nav #nav-close {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      padding: 1rem;
      color: #22c58f; }
  .header #menu-btn {
    display: inline-block;
    color: #22c58f; }
    .header #menu-btn:hover {
      transition: 0.5s; }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none; } }
@media (max-width: 442px) {
  .header .nav a {
    font-size: 13px;
    text-decoration: none;
    color: #fff;
    margin-right: .5rem;
    background: #22c58f;
    padding: 10px 12px;
    border-radius: 10px; } }
@media (max-width: 337px) {
  .header {
    flex-direction: column; }
    .header .header__logo {
      margin-bottom: 3rem; }

  main .home .text__1 {
    margin-top: 2rem; } }

/*# sourceMappingURL=style.css.map */
